<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.poster_url.key, height: 300, crop: :fill %>');">
  <div class="container">
    <h1 class="text-center"><%= @list.name %></h1>
  </div>
</div>

<%= link_to "Add a movie", "#bookmark-form", class: "btn btn-flat m-3" %>

<div class="cards">
  <% @bookmarks.each do |bm| %>
    <div class="card-trip container">
      <%= image_tag bm.movie.poster_url %>
      <div class="card-trip-infos">
        <div>
          <h2><%= bm.movie.title %> - <%= bm.movie.rating %> ⭐</h2>
          <p class="mb-2"><%= bm.movie.overview %></p>
      </div>
      <div class="comment">
        <h3 class="card-trip-pricing"><i class="fa-solid fa-quote-left"></i>  <%= bm.comment %></h3>
        <p><%= link_to "Delete bookmark", bookmark_path(bm), data: { turbo_method: :delete, turbo_confirm: "Delete bookmark?" },  class: "link" %></p>
      </div>
    </div>
    </div>
  <% end %>
</div>

<div id="bookmark-form" class="container border m-5 p-4 ps-5 pe-5 bg-light">
  <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie, input_html: {data: {controller: "tom-select"}} %>
      <%= f.input :comment %>
      <%= f.submit %>
  <% end %>
</div>
