<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1585647347129-7aebb8689a78?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGNpbmVtYXxlbnwwfHwwfHx8Mg%3D%3D&auto=format&fit=crop&w=500&q=60);">
  <div class="container">
    <h1 class="text-center"><%= @list.name %></h1>
  </div>
</div>

<%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-flat m-3" %>

<div class="cards">
  <% @bookmarks.each do |bm| %>
    <div class="card-trip container">
      <img src="https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y2luZW1hfGVufDB8fDB8fHwy&auto=format&fit=crop&w=1000&q=60" />
      <div class="card-trip-infos">
        <div>
          <h2><%= bm.movie.title %> - <%= bm.movie.rating %> ⭐</h2>
          <p class="mb-2"><%= bm.movie.overview %></p>
      </div>
      <div class="comment">
        <h3 class="card-trip-pricing"><i class="fa-solid fa-quote-left"></i>  <%= bm.comment %></h3>
        <p><%= link_to "Delete bookmark", bookmark_path(bm), data: { turbo_method: :delete, turbo_confirm: "Delete bookmark?" },  class: "link" %></p>
      </div>
    </div>
    </div>
  <% end %>
</div>
